@tailwind base;
@tailwind components;
@tailwind utilities;

  /* h1:  font-size: 2.5rem; */
  /* h2:  font-size: 2rem; */
  /* h3:  font-size: 1.5rem; */
  /* h4: font-size: 1.25rem; */
  /* h5:  font-size: 1rem; */
  /* h6: font-size: 0.83rem; */

  /* 
  fontSize: {
    xs: ['0.75rem', { lineHeight: '1rem' }],
    sm: ['0.875rem', { lineHeight: '1.25rem' }],
    base: ['1rem', { lineHeight: '1.5rem' }], ===> body
    lg: ['1.125rem', { lineHeight: '1.75rem' }],
    xl: ['1.25rem', { lineHeight: '1.75rem' }],
    '2xl': ['1.5rem', { lineHeight: '2rem' }], ===> h3
    '3xl': ['1.875rem', { lineHeight: '2.25rem' }], ===> h2
    '4xl': ['2.25rem', { lineHeight: '2.5rem' }], ===> h1
    '5xl': ['3rem', { lineHeight: '1' }],
    '6xl': ['3.75rem', { lineHeight: '1' }],
    '7xl': ['4.5rem', { lineHeight: '1' }],
    '8xl': ['6rem', { lineHeight: '1' }],
    '9xl': ['8rem', { lineHeight: '1' }],
  }, 
  */